extends layout

block content
    h1= title 

    - let elephantid = toShow._id 
    - let elephant_name = toShow.elephant_name
    - let elephant_population = toShow.elephant_population 
    - let elephant_avg_weight = toShow.elephant_avg_weight 

    div
        div.row 
            div(class='elephantAttr mr-3') Elephant ID is:
            div #{elephantid}
        div.row 
            div(class='elephantAttr mr-3') Elephant Name is:
            div #{elephant_name}
        div.row 
            div(class='elephantAttr mr-3') Elephant Population is:
            div #{elephant_population}
        div.row 
            div(class='elephantAttr mr-3') Elephant Avg Weight is:
            div #{elephant_avg_weight}